
@media (max-width: 1193px) {
    .bossbaby{
        width: 801px;
    }

}

@media (max-width: 830px) {
    .bossbaby{
        width: 713px;
    }

}
@media (max-width: 768px) {
    .bossbaby {
        width: 90%;
        flex-direction: column;
    }

    .forBlock {
        flex-direction: column;
        align-items: center;
    }

    .tap-in, .tap-out {
        width: 100%;
    }

    .btn {
        width: 100%;
        margin-top: 1rem;
    }
}

/* @media (max-width: 704px) {
    .bossbaby{
        width: 650px;
    }

}

@media(max-width: 653px) {
    .bossbaby{
        width: 590px;
    }

}

@media(max-width: 594px) {
    .bossbaby{
        width: 553px;
    }
    .toolbar{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .tool2{
        padding: 0;
        padding-top: 13px;
        margin: 0;
    }

}
@media(max-width: 550px) {
    .bossbaby{
        width: 520px;
    }
}
@media(max-width: 530px) {
    .bossbaby{
        width: 475px;
    }
}@media(max-width: 550px) {
    .bossbaby{
        width: 520px;
    }

}@media(max-width: 500px) {
    .bossbaby{
        width: 456px;
    }
}
@media(max-width: 450px) {
    .bossbaby{
        width: 436px;
    }
} */