 /* @media (max-width: 704px) {
    .bossbaby{
        width: 650px;
    }

}

@media(max-width: 653px) {
    .bossbaby{
        width: 590px;
    }

}

@media(max-width: 594px) {
    .bossbaby{
        width: 553px;
    }
    .toolbar{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .tool2{
        padding: 0;
        padding-top: 13px;
        margin: 0;
    }

}
@media(max-width: 550px) {
    .bossbaby{
        width: 520px;
    }
}
@media(max-width: 530px) {
    .bossbaby{
        width: 475px;
    }
}@media(max-width: 550px) {
    .bossbaby{
        width: 520px;
    }

}@media(max-width: 500px) {
    .bossbaby{
        width: 456px;
    }
}
@media(max-width: 450px) {
    .bossbaby{
        width: 436px;
    }
}  */
@media(max-width: 556px) {
    .bossbaby{
        padding: 5px;
        width: max-content;
    }
    .forBlock{
        display: block;
    }
    .btn{
        margin-top: 5px;
        padding: 10px;
        /* width: max-content;1 */

    }
    .buttonboss{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .toolboss{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .toolbar{
        width: max-content;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .tool2{
        padding: 0;
        padding-top: 13px;
        margin: 0;
    }
    
} 